# Terraform
.terraform/
.terraform-*/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Node / Playwright
node_modules
test-results
playwright-report
blob-report

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
